/* -- Variables -- */

:root {
  --primary-color: black;
  --secondary-color: orange;
  --main-font: verdana;
  --main-font-color: rgb(25, 25, 25);
  --background-color: #f1f5f9;
}

/* -------------- */

html {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  h2 {
    color: var(--secondary-color);
  }


  